<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.4.1" targetFramework="net40" developmentDependency="true" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net40" />
  <package id="Fody" version="2.0.7" targetFramework="net40" developmentDependency="true" />
  <package id="WindowsAPICodePack" version="1.1.1" targetFramework="net40" />
</packages>